<h1>bienvenido</h1>
<ul>
  {{#each cartProducts}}
  <li><h3>{{this.title}}</h3></li>
  <p>{{this.description}}</p> 
  {{/each}}
</ul>


<form action="/logout">
<button type="submit">Logout</button></form>