<h1 class="bef bef-display-flex bef-justifyContent-center">Login</h1>

<form action="/users/login" method="post" class="bef bef-display-flex bef-justifyContent-spaceMINaround bef-alignItems-center bef-flexFlow-column bef-w-auto">
	<input class="bef bef-m-0_5rem" type="email" name="email" placeholder="email" required />

	<input class="bef bef-m-0_5rem" type="text" name="password" placeholder="Password" required />

	<button class="bef bef-m-0_5rem" type="submit">Iniciar Sesión</button>
	<p>Olvide mi contraseña <a href="/views/reset-password">Restablecer</a></p>

</form>