<section class="bef bef-p-2rem">
  <h1 class="bef bef-display-flex bef-justifyContent-center">Nuevo Producto</h1>
  <form class="bef bef-display-flex bef-justifyContent-center bef-alignItems-center bef-flexFlow-column " action="/products" method="post">
  <div class="bef bef-display-flex bef-justifyContent-center bef-alignItems-center bef-w-auto bef-flexFlow-column ">
    <label for="title">title</label>
    <input type="text" name="title" required>
    <br><br>
    <label for="description">description</label>
    <input type="text" name="description" required>
    <br><br>
    <label for="img">image</label>
    <input type="text" name="img" required>
    <br><br>
    <label for="price">price</label>
    <input type="number" name="price" required>
    <br><br>
    <label for="stock">stock</label>
    <input type="number" name="stock" required>
    <br><br>
    <label for="category">category</label>
    <input type="text" name="category" required>
    <br><br>
    <label for="thumbnails">thumbnail</label>
    <input type="text" name="thumbnails" required>
  </div>

  <button class="bef bef-mt-1rem" type="submit" >Guardar</button>
  </form>
</section>