<h1>Nuevo Producto</h1>
<form action="/products" method="post">
<label for="title">title</label>
<input type="text" name="title" required>
<br><br>
<label for="description">description</label>
<input type="text" name="description" required>
<br><br>
<label for="img">image</label>
<input type="text" name="img" required>
<br><br>
<label for="code">code</label>
<input type="text" name="code" required>
<br><br>
<label for="price">price</label>
<input type="number" name="price" required>
<br><br>
<label for="stock">stock</label>
<input type="number" name="stock" required>
<br><br>
<label for="category">category</label>
<input type="text" name="category" required>
<br><br>
<label for="thumbnails">thumbnail</label>
<input type="text" name="thumbnails" required>
<br><br><br>
<button type="submit" >Guardar</button>
</form>