<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bef-styles.css">
  <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" type="image/x-icon">
  <title>Document</title>
</head>
<body>
  {{{body}}}
  <script src="https://cdn.jsdelivr.net/gh/LynxPardelle/bootstrap-expanded-features@latest/bootstrap-expanded-features.min.js"></script>
</body>
</html>